@import "normalize";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";


@mixin image-replace {

  & {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
  }

  &:before {
      content: "";
      display: block;
      width: 0;
      height: 150%;
  }
}

@mixin clearfix {

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }

  /*
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */

  &{
    *zoom: 1;
  }
}

$break-small: 15.625em;
$one-up-home: 31.25em;
$two-up-home: 48em;
$break-large: 51em;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == single-column {
    @media only screen and (max-width: $one-up-home) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: $two-up-home) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

* {
  @include box-sizing("border-box");
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.4;

}

a {
  display: inline-block;
  @include transition(all .4s ease-in-out);
  color: #333;
  border-bottom: 2px dashed #333;
  text-decoration: none;
  line-height: 1;
  padding: .1em;
  &:visited {
    color:#555;
    border-color: #555;
  }
  &:hover {
    background-color: #000;
    color: #fff;
    border-color: transparent;
  
  }
}

.logo {
  float: left;
  width: 290px;
  height: 40px;
  -webkit-background-size: contain;
  position: relative;
  @include respond-to(single-column) {
    width: 240px;
  }  
  @include respond-to(wide-screens) {
    left: -50px;
  }
  @include image-replace;
  &:hover {
    background-color: transparent;
  }
}
.header nav {
  float: right;
  margin-right: 1em;
  ul {
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: .5em 0 0 0;
    @include respond-to(single-column) {
      margin: .25em 0 0 0;
    }  
    width: auto;
  }
  li {
    float: left;
  }
  a {
    display: block;
    border: none;
    padding: .5em 1em;
    font-size: .875em;
    @include respond-to(single-column) {
      border: 1px solid black;
    }  
    &.nav-home {
      @include respond-to(single-column) {
        display: none;
      }  
    }
  }
}


.header, .main {
  max-width: 47em;
  position: relative;
  margin: 0 auto;
  clear: both;
  @include clearfix;
}
.header {
  margin-top: 2.25em;
}
.main {
  margin-top: 4.4em;
  @include respond-to(medium-screens) {
  margin-top: 2em;
  }  
}
.hero {
  font: 1.25em/1.7 normal Arial, sans-serif;
  margin: 0 0 2.125em 0;
  @include respond-to(medium-screens) {
    padding: 0 1em;
  }
  @include respond-to(wide-screens) {
    padding: 0 10px;
  }  
}
.work-img {
  position: relative;
  line-height: 0;
  .screen{
    @include transition(background-color .4s ease-in-out);
    display: block;
    position: absolute;
    background-color: #7f7f7f;
    width: 100%;
    height: 100%;
  }
}

.work {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: relative;

  @include respond-to(medium-screens) {
    max-width: 31.25em;
  }
  @include respond-to(single-column) {
    max-width: 15.625em;
  }  
  li {
    width: 250px;
    padding: 0 .625em 1.4em .625em;
    display: inline-block;
    vertical-align: top;
    a {
      position: relative;
      border: none;
      line-height: 1.4;
      text-decoration: none;
      @include transition-property(color);
      &:hover {
        background-color: inherit;
        color: inherit;
        .screen {
          background-color: transparent;
        }
      }
    }
  }
}
[class*=work-] {
  display: block;
}


.work-title{
  margin-top: .25em;
}

.work-desc {
  font-size: .8em;
  font-style: italic;
}
