<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

</head>

<body {% if page.title %}class="{{ page.body-class }}"{% endif %}>
  <header role="banner">
  <h1>
    <a href="/" class="logo">Design Is Easy</a>
    <span class="tagline"></span>
  </h1>
  {% include nav.html %}
  </header>
  <section class="main">
  {{ content }}
  </section>
  <footer>
  &copy; 2013 Design Is Easy, Inc.

{% include nav.html %}
      <a href="https://twitter.com/{{ site.twitter }}"><img src="/images/twitter.png"></a>
  </footer>
</body>

</html>
